:root{
    --primary-color: rgb(248, 26, 92);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    font-family: "Lobster Two", sans-serif;
    color: black;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
   margin-right: 10px; 
   margin-left: 10px;
   color: black;
   font-family: "Rubik", sans-serif;
   text-transform: uppercase;
}

.nav-link:hover{
     color: black; 
    border-bottom: 1px solid var(--primary-color);
    transition: 1s ease-in-out;
}

.fa-solid{
    font-size: 2.5rem;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid var(--primary-color);
}


.main{
    background: url(./images/background-img.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    /* font-family: 'Roboto'; */
}


.product h1{
    font-weight: 700;
}

.h6{
    color: red;
}
.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.apple{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(./images/applegirl.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.apple h1{
    font-family: "Lobster Two", sans-serif;
}

.news{
    background-color: black;
    color: #fff;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: #fff;
    margin-top: 20px;
    font-weight: 600;
}
.news::placeholder{
    color: #fff;
}

.news p{
    margin: 0;
}

.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}


/* button classes */
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700; 
 }

 .btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color: rgba(255, 120, 161, 0.801, 0.945);
    transition: 0.5s ease-in-out;
}

.btn2{
    height: 46px;
    width: 100px;
    background: #fff;
    margin-left: -10px;
    border: 2px solid #fff;
    font-weight: 600;

}
